html{
    height: 100%;
}
body{
    background-size: cover;
    background-image: url('/static/img/DSC1493.jpg');
    margin: 0;
    padding: 0;
    /*background: honeydew;*/
    height: 100%;
    overflow-x: hidden;
}

.console {
    opacity: 0.8;
    display: block;
    position: absolute;
    width: 600px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background : fixed, #304B54;
    height: 400px;
    border: #0F2106 solid 3px;
    border-radius: 20px;
    color: #F2EBD3;
    box-shadow: 0 0 40px #131911;
    outline: none;
}
#command_line{
    position: relative;
    float: left;
    word-break: break-all;
    outline: none;
    border:none;
    resize: none;
    font-size: 16px !important;
    top: -2px;
    font-family: Arial;
    height: 20px;
    color: inherit;
    background-color: #304B54;
}
.active{
     cursor: auto;

}

/*@keyframes blink {*/
 /*0% { color: #466157; }*/
 /*50% { color: #668C7E; }*/
 /*99% { color: #ACEAD2; }*/
/*}*/

/*.blink{*/
    /*animation: blink 0.7s step-start infinite;*/
/*}*/

#work_space{
    margin: 20px;
    height: 360px;
    overflow-y: hidden;
}
#area_view{
    overflow-y: auto;
    top: 0;
    color: inherit;
    word-break: break-all;
    position: relative;
}

#area_active{
    overflow-y: auto;
    top: 0;
    color: inherit;
    word-break: break-all;
    position: relative;
    height: 40px;
    background-color: #304B54;
}

.initial_path{
    height: 20px;
    color: inherit;
    position: relative;
    float: left;
}


span{
    display: block;
    position: relative;
    font-size: 16px !important;
    font-family: Arial;
}
.move_up_down{
    opacity: 0.8;
    z-index: 5;
    position: absolute;
    width: 30px;
    margin: auto;
    right: 0;
    left: 0;
    background : #F2EBD3;
    height: 30px;
    border: #0F2106 solid 3px;
    border-radius: 30px;
    box-shadow: 0 0 40px #131911;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    color: rgb(0, 119, 5)
}
#move_up{
    top: 0;
    bottom: 400px;
}
#move_down{
    top: 400px;
    bottom: 0;
}

