html{
    height: 100%;
}
body{
    overflow: hidden;
    background-size: cover;
    background-image: url('/static/img/DSC1493.jpg');
    margin: 0;
    padding: 0;
    height: 100%;
}

.list{
    color: #1B221E;
    position: relative;
    left: 40px;
}


.menu{
    opacity: 0.3;
    display: table;
    z-index: 4;
    position: relative;
    top:0;
    height: 80px;
    width: 100%;
    background : fixed, #1B221E;
}

.but{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin:30px;
    height: 20px;
    width: 120px;
    background : fixed, #1B221E;
    color:#ECDBA2;
    float:right;
}

.about{
    position:relative;
}

.console {
    opacity: 0.8;
    display: block;
    position: absolute;
    width: 600px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background : fixed, #010700;
    height: 400px;
    border: #010700 solid 1px;
    border-radius: 20px;
    color: #ECDBA2;
    box-shadow: 0 0 50px #131911;
    outline: none;
}

#command_line{
    margin-left: 4px;
    position: relative;
    float: left;
    word-break: break-all;
    outline: none;
    border:none;
    resize: none;
    font-size: 16px !important;
    top: -2px;
    font-family: Arial;
    width: 405px;
    height: 20px;
    color: inherit;
    background-color: inherit;
}
/*.active{*/
     /*cursor: auto;*/

/*}*/

/*@keyframes blink {*/
 /*0% { color: #010700; }*/
 /*99% { color: #ECDBA2; }*/
/*}*/

/*.blink{*/
    /*animation: blink 0.7s  infinite cubic-bezier(.65, 0.95, .03, 2.32);*/
/*}*/

#work_space{
    margin: 20px;
    height: 360px;
    overflow-y: hidden;
}
#area_view{
    overflow-y: auto;
    top: 0;
    color: inherit;
    word-break: break-all;
    position: relative;
}

#area_active{
    /*height: 20px;*/
    overflow-y: auto;
    top: 0;
    color: inherit;
    word-break: break-all;
    position: relative;
    background-color: inherit;
}

.initial_path{
    /*margin-right: 5px;*/
    /*width: auto;*/
    /*height: inherit;*/
    color: inherit;
    width: 150px;
    height: 20px;
    position: relative;
    float: left;
}


span{
    word-break: break-all;
    display: block;
    position: relative;
    font-size: 16px !important;
    font-family: Arial;
}
.move_up_down{
    opacity: 0.95;
    z-index: 3;
    position: absolute;
    width: 30px;
    margin: auto;
    right: 0;
    left: 0;
    background : #F2EBD3;
    height: 30px;
    border: #1B221E solid 2px;
    border-radius: 30px;
    box-shadow: 0 0 40px #131911;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    color: #1B221E ;
}
#move_up{
    top: 0;
    bottom: 400px;
}
#move_down{
    top: 400px;
    bottom: 0;
}

