{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/console_style.css' %}" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/console_js.js' %}"></script>

    <title></title>

</head>

<body>
    <div class="hide">

    </div>
    <div class="my_selector">
        Hello,  I will be the console !
    </div>
</body>
</html>
