{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/console_style.css' %}" rel="stylesheet">
    <script src="{% static 'js/lib/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/lib/underscore.js' %}"></script>
    <script src="{% static 'js/lib/typed.js' %}"></script>
    <script src="{% static 'js/lib/underscore.js' %}"></script>
    <script src="{% static 'js/lib/jstorage.js' %}"></script>
    <script src="{% static 'js/event_handlers.js' %}"></script>
    <script src="{% static 'js/init_events.js' %}"></script>
    <script src="{% static 'js/console_js.js' %}"></script>

    {% autoescape off %}
        <script type="text/javascript">
{#            var list_of_possible_command = JSON.parse('{{ commands }}');#}
            {# or without autoescape/endautoescape  --> {{ commands|escapejs }} #}
        </script>
    {% endautoescape %}

    <title></title>

</head>

<body>

<div id="move_up" class="move_up_down"></div>
        <div class="console">
            <div id="work_space">
                <div  id="area_view">
                    <script id="console_string_templ" type="text/template">
                       <span> <%= console_string %> </span>
                    </script>
                </div>
                <div id="area_active">
                    <span class="initial_path"></span>
                    <input type="text"  id="command_line" >
                </div>
            </div>
        </div>
<div id="move_down" class="move_up_down"></div>
</body>

</html>
