{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/console_style.css' %}" rel="stylesheet">
    <title></title>

</head>

<body>
    <div><h3>First pet project</h3><br>

<p>It is a little pet project which was created for systematization of skills and<br>
knowlages in Python, Django, Javascript, JQuery, HTML, CSS and some plagins<br>
and libraries (Typed.js, Underscore.js, Jstorage.js)<br></p>

<p>It is the console for execution some built-in function. All that, you need it<br>
to write in request-string 'help'. It return the list of possible command,<br>
and when you want to know more about any command - write 'help name_command'.<br>
There are also the short description and examples how using the command.<br></p>

<p>The options history permit to you to use the previos commands - just press on<br>
the keybord 'arrow up' or 'arrow down'. If you want to update you browser's<br>
window, whatever history will be stored.<br></p>

</div>
</body>
</html>